NetworkDetect.xcodeproj/project.xcworkspace/contents.xcworkspacedata
NetworkDetect.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NetworkDetect.xcodeproj/xcuserdata/csc.xcuserdatad/xcschemes/xcschememanagement.plist
